
@font-face {
    font-family: Bykan;
    src: url("../asstes/fonts/B_Yekan/Yekan.ttf");
}




.hidden{
    display: none;
}

body{
    margin: 0;
}

.nav{
    background-color: rgb(16, 16, 16) ;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar a{
 padding: 20px;
 margin: 10px;
 font-size: 22px;
 color: whitesmoke;
 cursor: pointer;
}
.navbar a:hover{
    color: rgb(199, 36, 210);
 }

 .mobileNav i {
    color: whitesmoke;
    padding: 20px;
    margin: 10px;
 }
 .mobileNav a {
    color: whitesmoke;
    padding: 20px;
    margin: 10px;
 }



 

 @media (max-width : 600px){
    .mobileNav{
        display: flex;
        justify-content: space-between;
    }

    .navbar{
        display: none;
    }
 }






 /* header */

 .myHeader{
    display: flex;
    margin: 20px 150px;
 }

 .headerItems{
    width: 50%;
 }

 .headImg{
    margin-right:100px;
 }
 @media (max-width : 600px){
    .myHeader{
        flex-direction: column;
        margin: 20px 10px;

    }
    .headerItems{
        width: 100%;
     }

     .headImg{
        width: 100%;
        margin-right:0;

     }
 }










 /* books */

 .BooksContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 150px;

 }

.bookItem{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 17%;
}

.imgBook{
    border-radius: 15px;
}

.bookDetails{
  display: flex;
  flex-direction: column;
}



.cartBtn{
    background-color: blueviolet;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(134, 20, 210, 0.1) 0px 4px 12px;
  }
@media (max-width : 1100px){
    .bookItem{
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        width: 100%;
    }

    .BooksContainer{
        flex-direction: column;
        margin: 20px 10px;

     }


     .bookDetails{
      flex-direction: row;
      margin-bottom: 12px;
     }

     .imgBook{
      width: 150px;
      height: auto;
     }

     .bookDetails div{
      margin-right: 15px;
    }
 }











 /* footer */

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .about-us, .important-links, .social-icons {
    width: 30%;
  }
  
  .about-us h3, .important-links h3, .social-icons h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
  
  .important-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .important-links ul li {
    margin-bottom: 5px;
  }
  
  .important-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons .icons {
    display: flex;
  }
  
  .social-icons .icons a {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  

  @media (max-width : 900px){
    footer {
        flex-direction: column;
      }
      
      .about-us, .important-links, .social-icons {
        width: 100%;
      }
 }

 






 /* book page */
 .bookPrice{
  display: flex;
  justify-content: space-between;
 }


 .bookPrice input{
  width: 70px;
 }






 /* checkout */
 .container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.product-img {
  max-width: 100px;
  height: auto;
}

.qty-input {
  width: 40px;
}

.subtotal {
  font-weight: bold;
}

.ImgAndName{
  display: flex;
}

.ImgAndName p {
  width: 160px;
  margin-right: 10px ;
}

.total {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.user-info {
  margin-bottom: 20px;
}

.user-info input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.user-info textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.pay-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.pay-btn:hover {
  background-color: #45a049;
}






/* user order */



.order {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-details {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.order-items {
  margin-bottom: 10px;
}

.item {
  margin-bottom: 5px;
}



.status {
  font-weight: bold;
  color: #4CAF50; /* Green color for 'Delivered' status */
}

/* Responsive Styles */
@media (max-width: 600px) {
  .order {
      padding: 10px;
  }
}





















/* book list */
.search-container {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.search-container button {
  padding: 10px 20px;
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: blueviolet;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
























/* register */

.LoginContainer {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.LoginContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.LoginContainer .input-group {
  margin-bottom: 20px;
}

.LoginContainer label {
  display: block;
  margin-bottom: 5px;
}

.LoginContainer input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.LoginContainer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: #fff;
  cursor: pointer;
}

.LoginContainer button:hover {
  background-color: #007bff;
}

.LoginContainer p {
  margin-top: 15px;
  text-align: center;
}

.LoginContainer a {
  color: #007bff;
  text-decoration: none;
}

.LoginContainer a:hover {
  text-decoration: underline;
}




.atext
{
  text-decoration: none;
}

.aboutUs{
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-top: 20px;
  margin-right: 200px;
}

@media (max-width: 800px) {
  .aboutUs{
    margin-left: 10px;
    margin-right: 10px;
  }
}